* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
.container {
    width: 100%;
    display: flex;
   
}
.left {
    width: 50%;
   
}
.header {
    margin: 10px 30px;
}
.dernegul {
 width: 100%;
 margin-left: 10px;
 height: 700px;
 object-fit: cover;
}
.right {
    width: 60%;
    margin: 20px 10px
}
.marketing {
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 30px;
}
.sections {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}